Test.WebApp/Connected Services/OrderServicce/OrderService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.Core.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.Core.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OrderEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OrderEntity" nillable="true" type="tns:OrderEntity" />
</xs:schema>